<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consecuencias de la Contaminación del Aire</title>
    <link rel="stylesheet" href="/static/consecuencias.css">
    <link rel="stylesheet" href="/static/barra_navegacion.css">

</head>
<body>
<header>
  <nav class="navbar">
    <ul class="nav-list">
      <li><a href="inicio.html">Inicio</a></li>
      <li><a href="causa.html">Causas</a></li>
      <li><a href="consecuencias.html">Consecuencias</a></li>
    </ul>
  </nav>
</header>
    <h1>Consecuencias de la Contaminación del Aire</h1>

    <main>
        <section class="contenido">
            <h2>En la salud</h2>
            <ul>
                <li>Problemas respiratorios como asma y bronquitis.</li>
                <li>Aumento de enfermedades cardiovasculares.</li>
                <li>Mayor riesgo de cáncer de pulmón.</li>
                <li>Enfermedades en niños y adultos mayores.</li>
            </ul>

            <h2>En el medio ambiente</h2>
            <ul>
                <li>Daño a los ecosistemas y a la biodiversidad.</li>
                <li>Lluvia ácida que afecta suelos, agua y plantas.</li>
                <li>Reducción en la capa de ozono.</li>
                <li>Contribuye al cambio climático.</li>
            </ul>

            <h2>En la sociedad</h2>
            <ul>
                <li>Gastos en salud pública aumentan.</li>
                <li>Pérdida de productividad laboral.</li>
                <li>Problemas económicos en sectores como la agricultura.</li>
            </ul>
        </section>
    </main>

<section class="info-local">
  <!-- el mapa de chalate -->
  <div class="mapa-chalatenango">
    <h2>📍 Chalatenango en el mapa</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61381.304300456555!2d-89.26165535300269!3d14.195260110507078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f62f6a89627fc5d%3A0x31d7a96a97b4a56!2sChalatenango!5e0!3m2!1ses!2ssv!4v1715706640965!5m2!1ses!2ssv"
      width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

  <!-- cuadro calidad de la calida del aire -->
  <div class="calidad-aire">
    <h2>🌬️ Calidad del Aire</h2>
    <div class="aire-box">
      <p><strong>Índice AQI:</strong> 42</p>
      <p><strong>Estado:</strong> Bueno 😊</p>
      <p><strong>PM2.5:</strong> 10 µg/m³</p>
      <p><strong>PM10:</strong> 15 µg/m³</p>
      <p><strong>Última actualización:</strong> Mayo del 2025 - 10:00 AM</p>
    </div>
  </div>
</section>

    <footer>
        <p>© 2025 Proyecto Contaminación del Aire - UNAB</p>
    </footer>
</body>
</html>
