<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contaminación del Aire</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/barra_navegacion.css">

</head>

<header>
  <nav class="navbar">
<nav class="navbar">
  <ul class="nav-list">
    <li><a href="/">Inicio</a></li>
    <li><a href="/causas">Causas</a></li>
    <li><a href="/consecuencias">Consecuencias</a></li>
  </ul>
</nav>

</header>
 

  <header>
    <h1>LA CONTAMINACION DEL AIRE </h1>
    <p>Todo lo que debes saber para cuidar nuestros pulmones y el planeta :D</p>
  </header>

  <main>
    <section id="que-es">
      <h2>¿Sabías que el aire que respiras podría estar dañando tu salud? </h2>
      <p>La contaminación del aire es uno de los mayores problemas ambientales del mundo actual </p>
      <p> Afecta no solo al planeta, sino también directamente a tu cuerpo.</p>
    </section>

    <section id="`preocupate">
      <h2>¿Por que deberias preocuparte?</h2>
      <ul>
      <li>cada año, mas de 7 millones de personas mueren por enfermedades relacionadas con la contaminacion del aire </li>
      <li>Respirar aire contaminado es como fumar sin querer. </li>
      <li>La mayoría de las fuentes contaminantes están relacionadas con acciones humanas: tráfico, quema de basura, fábricas, etc.</li>
      </ul>
    </section>

    <section id="buscamos">
      <h2>que es lo que buscamos?</h2>
      <p>Esta página busca informarte, educarte y motivarte a actuar. Aquí aprenderás:</p>
      <ul>
        <li>Que es la contaminacion del aire</li>
        <li>como afecta a chalatenango </li>
        <li>Como mejorar el aire que respiramos</li>
      </ul>

  </main>
  <footer>
    <p>© 2023 Cuidemos el aire 🌍</p>
  </footer>
</body>
</html>